@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-syfe-gradient {
    background: linear-gradient(to right, rgb(147 51 234), rgb(29 78 216));
  }

  .hover\:bg-syfe-gradient-dark:hover {
    background: linear-gradient(to right, rgb(126 34 206), rgb(30 64 175));
  }
}
